body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: url('image/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.calculator {
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.3); 
}

.calculator::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #2a2c2d;
    border-radius: 15px;
    pointer-events: none; 
    width: 350px;
}

.display {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2.5em; 
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    height: 80px; 
    margin-bottom: 20px;
    border: 3px solid #4d5762; 
    border-radius: 30px;
    animation: slideIn 0.5s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
}

.btn {
    background-color: #dadada;
    border: none;
    padding: 20px; 
    font-size: 1.5em; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    box-sizing: border-box; 
}

.btn:hover {
    background-color: #c5bcbc;
    box-shadow: 0 4px 8px rgba(68, 64, 95, 0.3); 
}

.btn:active {
    transform: scale(0.95);
    animation: buttonPress 0.1s; 
}

.btn.operator {
    background-color: #e7f0b4;
}

.btn.clear {
    background-color: #ff4d4d; 
    color: white; 
}

.btn.equals {
    background-color: #87CEEB; 
    color: white; 
}

.btn.delete-entry {
    background-color: #ff6f61; 
    color: white;
}

.btn.decimal {
    background-color: #e7f0b4; 
}

.btn.percent {
    background-color: #f0b4e7; 
    color: white;
}

@keyframes buttonPress {
    from {
        transform: scale(0.95);}
    to {
        transform: scale(1); }}